.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 744px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
