.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-image:
    /* linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), */ url('/images/mobile/mob-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.hero__wrapper {
  padding-top: 718px;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 128px;
  line-height: normal;
  letter-spacing: 3.84px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0;
  color: var(--main-text);
}

@media (min-width: 744px) {
  .hero {
    background-image:
      /* linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), */ url('/images/tablet/tablet-hero.jpg');
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image:
      /* linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), */ url('/images/desktop/desktop-hero.jpg');
  }
}
