.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-image:
    linear-gradient(rgba(17, 14, 14, 0.45), rgba(17, 14, 14, 0.45)),
    url('/images/mobile/mob-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.hero__wrapper {
  padding-top: 300px;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 2px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--main-text);
}

@media (min-width: 744px) {
  .hero {
    background-image:
      linear-gradient(rgba(17, 14, 14, 0.45), rgba(17, 14, 14, 0.45)),
      url('/images/tablet/tablet-hero.jpg');
  }

  .hero__wrapper {
    padding-top: 404px;
  }

  .title {
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 3px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image:
      linear-gradient(rgba(17, 14, 14, 0.45), rgba(17, 14, 14, 0.45)),
      url('/images/desktop/desktop-hero.jpg');
  }

  .hero__wrapper {
    padding-top: 832px;
  }

  .title {
    font-size: 128px;
    line-height: 136px;
    letter-spacing: 3px;
  }

  .hero__description_wrapper {
    display: flex;
    flex-direction: row;
  }
  .description {
    font-size: 40px;
    font-weight: 54px;
  }
}
