.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 744px) {
  .container {
    max-width: 744px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
