body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--main-text);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box; /* Включає padding і border в загальну ширину */
}
